

<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	 <link href="https://fonts.googleapis.com/css?family=Lustria|Roboto|Saira+Semi+Condensed" rel="stylesheet">
	<!-- Add icon library -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/comnt.js' %}"></script>
</head>
<body>

    <section id="header" class="cd-secondary-nav">
        <div class="container-fluid">
        <div class="row">
           <div class="col-md-12">
              <nav class="navbar navbar-default" role="navigation">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><span>SPORTS</span></a>
                 </div>
                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 
                     <!-- start of the navbar-->
                    <ul class="nav navbar-nav nav_1">
                       <li><a class="pad_1 " href="{% url 'home' %}">Home</a></li>
                       <li class="dropdown">
               <a class="pad_1" href="detail.html" data-toggle="dropdown" role="button" aria-expanded="false">Categories<i class="arrow down"></i><b class="caret"></b></a>
               <ul class="dropdown-menu" role="menu">
                {% for category in category_list %}
                 <li><a href="/category/{{category.name}}">{{category.name|title}}</a></li>
                {% endfor %}
                 
     
               </ul>
             </li>
                    </ul>	
             
                    <div class="topnav">
                     
                     <div class="search-container">
                       <form action= "{% url 'search-results' %}" method=POST>
                        {% csrf_token %}
                         <input type="text" placeholder="Search titles and subtitles.." name="search">
                         
                         <button type="submit"><i class="fa fa-search"></i></button>
                       </form>
                     </div>
                   </div>
                     </li>
                           
                    </ul>
                 </div>
                 <!-- /.navbar-collapse -->
              </nav>
           </div>
        </div>
     </div>
     </section>
     
     <!-- End of heade r -->

<!--start of the center-->

	  <div class="center clearfix">
	   <div class="col-sm-2 space_all">
		<div class="center_left clearfix">
		 <div class="center_left_1">
		   <h4 class="border_bottom_1">Latest News</h4>
		   <p><a href="detail.html">PSG vs MN CITY</a></p>
		   <p><a href="detail.html">ROLANGALOS</a></p>
		   <p><a href="detail.html">ROLANGALOS</a></p>
		   <p><a href="detail.html">ROLANGALOS</a></p>
		   <p><a href="detail.html">ROLANGALOS</a></p>
		   <p><a href="detail.html">ROLANGALOS</a></p>
		   <p class="border_none_1"><a href="detail.html">TOURNOI UNIVERSIRTAIRE</a></p>
		 </div>
		 <div class="center_left_3">
		   <h4 class="border_bottom_1">Trending News</h4>
		   <p><a href="detail.html">Jeux Olympique</a></p>
		   <p><a href="detail.html">Jeux Olympique</a></p>
		   <p><a href="detail.html">Jeux Olympique</a></p>
		   <p><a href="detail.html">Jeux Olympique</a></p>
		   <p class="border_none_1"><a href="detail.html">Jeux Olympique</a></p>
		 </div>
		 
		 <div class="center_left_3">
		   <h4 class="border_bottom_1">Follow Us</h4>
		   <p>
		   <a href="detail.html"><i class="fa fa-facebook tag_1"></i>Facebook</a>
		   <a class="pull-right" href="detail.html"><i class="fa fa-link"></i></a>
		   </p>
		   <p>
		   <a href="detail.html"><i class="fa fa-twitter tag_2"></i>Twitter</a>
		   <a class="pull-right" href="detail.html"><i class="fa fa-link"></i></a>
		   </p>
		   <p class="border_none_1">
		   <a href="detail.html"><i class="fa fa-instagram tag_3"></i>Instagram</a>
		   <a class="pull-right" href="detail.html"><i class="fa fa-link"></i></a></p>
		 </div>
		 <div class="center_left_3">
		   <h4 class="border_bottom_1">PARTNER Sites</h4>
		   <p>
		   <a href="detail.html">Kigali Today</a>
		   <a class="pull-right" href="detail.html"><i class="fa fa-link"></i></a>
		   </p>
		   <p class="border_none_1">
		   <a href="detail.html">Sports News</a>
		   <a class="pull-right" href="detail.html"><i class="fa fa-link"></i></a></p>
		 </div>
		</div>
	   </div>
		<!---start of the center middle-->
		<div class="col-sm-7">
			<div class="center_middle clearfix">
			  <div class="center_middle_1">
			   <div class="center_middle_1_slide">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
			  <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
			  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
			</ol>
	  
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item">
				<img src="{% static 'images/img1.png' %}" alt="..." width="100%">
				<div class="carousel-caption">
			   
				</div>
			  </div>
			  <div class="item active">
				<img src="{% static 'images/img3.png' %}" alt="..." width="100%">
				<div class="carousel-caption" width="80%">
			  
				</div>
			  </div>
			  <div class="item">
				<img src="{% static 'images/img2.jfif' %}" alt="..." width="100%">
				<div class="carousel-caption">
			   
				</div>
			  </div>
			</div>
	  
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		  </div>
				</div>
			  </div>
			<div class="center_middle_2 clearfix">
				<p><a href="#"><span> La Police Federal</span> a mis le suspect en arrestation</a></p>
				<h3><a href="#">La Police Federal<br>a mis le suspect en arrestation</a></h3>
				<p class="p_1 border_bottom_1"><a href="#"> rvhgrgbighvugigobviybytwtergreghvu rhrtvgbehvqvhgeirvher.</a></p>
				<div class="clear_1 clearfix">
					<p> fguiregbuighbiehbivghvoegnhngvhvghgvhngehvnghgvhgbhgerhrughhnvirhwh.</p>
					<h6>Presentation de la case, AXYZ</h6>
				</div>
			</div>
			<div class="content">
				<div class="content_inner clearfix">
				  <div class="col-sm-6 content_inner_1">
					<h3>Latest News</h3>
				  </div>
				</div>
			<!-- for latest news highlights -->
			
			<div class="content_image clearfix">
                {% for%}
                <div class="col-sm-4">
				 <div class="content_image_inner">
				   <a href="detail.html"><img src="{{ post.post_image.url }}" width="100%"></a>
				   <p><a href="{% url 'post-detail' post.pk %}">{{ post.title}}</a></p>
				   <h6><a href="{% url 'post-detail' post.pk %}">{{ post.subtitle}}</a></h6>
				</div>
			  </div>
			  
			  {% endfor %} 
		</div>
		
		
		
			
			  <!-- for post list-->
			  {% for post in object_list %}
			  <div class="center_middle_3 clearfix">
				<div class="center_middle_3_inner clearfix">
				  <div class="col-sm-1 space_all">
					<span><a class="#"><i class="fa fa-trophy"></i></a></span>
				  </div>
				  <div class="col-sm-11 space_all">
					 <h5>{{ post.category}}</h5>
					 <h6>{{ post.created_on}}</h6>
				  </div>
			   </div>
			   <div class="center_middle_3_inner_1 clearfix">
				<div class="col-sm-4">
				 <img src="{{ post.post_image.url }}" width="100%">
				</div>
				<div class="col-sm-8">
				 <h4><a href="{% url 'post-detail' post.pk %}"> {{ post.title }} </a></h4>
				 <p><a href="{% url 'post-detail' post.pk %}}">{{ post.content }}</a></p>
				</div>
			   </div>
			 </div>
			{% endfor %}
			
			 
			<!-- end for post list -->
			
			
			 <div class="login clearfix">
			<h4>Subscribe to our Newsletter</h4>
			
			<div class="subscription_form">
				<form>
				  <input type="text" placeholder="Enter your email"><button> Subscribe</button>
				</form>
			</div>
		   </div>
		 
		 
	</div>	 
		 
	  
	
		  

{% endblock %}